<div class="container">
    <a href="index.html" class="logo"><img src="assets/logo-1.png"
            alt="DreamKey Logo">DreamKey<span>Properties</span></a>
    <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-links">
        <li><a href="index.html" id="link-index">Home</a></li>
        <li><a href="listings.html" id="link-listings">Listings</a></li>
        <li><a href="about.html" id="link-about">About</a></li>
        <li><a href="services.html" id="link-services">Services</a></li>
        <li><a href="contact.html" id="link-contact">Contact</a></li>
    </ul>
</div>